server {
		listen {{ http_port }};
        listen [::]:{{ http_port }};

        # Limit file upload to 8 MB
        client_max_body_size 8M;

        # Route to project code root (where page is loaded from)
        root {{ project_path }};
        index index.html index.htm index.php;

        # Sets domain for this configuration
        # Every request with this domain will be routed to this conf
        server_name {{ http_host }};

        access_log /var/log/nginx/{{ http_host }}.access.log;
        error_log /var/log/nginx/{{ http_host }}.error.log;

		# Run all static files directly
        location / {
                try_files $uri $uri/ /index.php?$args;
        }

		# Handle .php files through some PHP service
        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                # Run PHP files through PHP-FPM service
                # Change version if needed
                fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        }

        # Browser cache for files with this suffix
        location ~* \.(js|css|png|jpg|jpeg|gif|ico|webp|svg|ttf|woff|woff2)$ {
                expires max;
                log_not_found off;
        }

        // Include project specific configuration (usually updated by cache and security plugins)
        include {{project_path}}/*.conf;
}