# Ignore IDE related files
.vscode
.idea

# Ignore private files
*.log
.htaccess
.svn
.env
.devcontainer/devcontainer.json
uploads

# Plugin files
plugins/ewplugin/vendor
plugins/ewplugin/tests/tmp
plugins/ewplugin/test-*.xml

# Theme files
node_modules
themes/ew-theme/assets/dist/*
themes/ew-theme/vendor
