.idea/*

deployer/deployer-*-private.json
vendor/*
backup/*
dbexport/*

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php

/readme.html
/license.txt

node_modules
/vendor/*
wp-content/themes/enterwell-theme/assets/dist/*
