//
// This file defines styles for header - navigation component and all other
// components that go in header.php WordPress file
//

//noinspection SassScssResolvedByNameOnly
.c-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: $height-navbar;
  background-color: $color-black;
  color: $color-white;

  // Navbar content container
  .c-container{
    margin-top: 0;
    height: 100%;
    @extend %clearfix;

    // Navbar logo container
    .navbar-logo-container{
      float: left;
      position: relative;
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
    }

    // Navbar menu items container
    .navbar-items-container{
      height: 100%;
      float: right;

      // Navbar menu item
      .navbar-item{
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        @include simpleLinkStyles($color-white, $color-red);
      }
    }
  }

  &.admin-logged-in {
    top: 32px;
  }
}

// Admin bar
.admin-bar{
  .c-navbar {
    margin-top: 32px;
  }
}