{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="c-container">
            <h1>404</h1>
			<p>
				Tražena stranica nije pronađena.
			</p>
        </div>
    </main>
    {% include 'components/common/navbar.twig' %}
{% endblock %}
