<!DOCTYPE html>
<html {{ function('language_attributes') }} class="{{ is_admin_logged_in() ? 'admin-logged-in' : '' }}">

    {% include 'components/head.twig' %}

    <body class="{{ bodyClass|default('') }} ">

	{% include 'components/page-loading.twig' %}
	{% include 'components/navbar.twig' %}

	{% block content %}{% endblock %}

	{% block footer %}
		{% include 'components/footer.twig' %}
	{% endblock %}

	{# Additional scripts can be added through child templates by overriding this block #}
	{% block scripts %}{% endblock %}

    </body>
</html>

