### Ansible playbook for staging environment
### This playbook is prepared for deploying to Enterwells dedicated staging server which already has technical environment
### installed
### IMPORTANT! adapt this if you need to deploy it to other staging environment

- hosts: stage
  vars_files:
    - "../vars/default.yml"
    - "../vars/stage.yml"
  tasks:
    - name: Create project directory
      ansible.builtin.file:
        path: "{{ project_path }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      become: true
      tags: [ system ]

    - name: Create nginx conf in sites-available
      template:
        src: ../files/stage.nginx.conf.j2
        dest: "/etc/nginx/sites-available/{{ http_host }}"
        owner: root
        group: root
      become: true
      tags: [ nginx ]

    - name: Symlink nginx conf to sites-enabled
      file:
        src: "/etc/nginx/sites-available/{{ http_host }}"
        dest: "/etc/nginx/sites-enabled/{{ http_host }}"
        state: link
      become: true
      tags: [ nginx ]

    - name: (re)Start nginx
      shell: service nginx restart
      become: true
      tags: [ system ]

    - name: Install (mysql_db) database requirement package
      apt:
        name: python3-pymysql
      become: true
      tags: [ system ]

    - name: Create empty database
      mysql_db:
        name: "{{ mysql_db }}"
        state: present
        login_host: "{{ mysql_host }}"
        login_user: root
        login_password: ""
        config_file: ""
      become: true
      tags: [ mysql ]

    - name: Create database user with privileges to previously created database
      community.mysql.mysql_user:
        state: present
        name: "{{ mysql_user }}"
        password: "{{ mysql_password }}"
        priv: "{{ mysql_db }}.*: ALL,GRANT"
      become: true
      tags: [ mysql ]

    - name: Create wp-config.php in project
      template:
        src: ../files/stage.wp-config.php.j2
        dest: "{{ project_path }}/wp-config.php"
      become: true
      tags: [ project ]