{# Needs to be included with block attributes and component prefix #}
{# Attributes are read from block with get_attr twig function. Ex.: #}
{# {% set componentAttribute = get_attr(prefix, 'componentAttribute', attributes) %} #}

{# COMPONENTPASCAL gutenberg component #}
<div class="gc-COMPONENTKEBAB {{ componentClass }}">

</div>