// Define content container class
// This class defines main container for page content.

%container {
  position: relative;
  max-width: $max-width-page-container;
  width: 100%;
  margin: auto;
  padding: 0 $padding-page-container;
  box-sizing: border-box;
  overflow: hidden;
}

.c-container {
  @extend %container;
}