//// All footer styles are defined here.
////

footer {
  width: 100%;
  padding: 80px 0 110px;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);

  .c-container {
    text-align: center;
  }

  a {
    @include simpleLinkStyles(var(--wp--preset--color--white), var(--wp--preset--color--red-dark));
  }
}
