// Navbar styles
.c-navbar {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);

  // Navbar content container
  .c-container{
    margin-top: 0;
    height: 100%;

    // Navbar logo container
    .navbar-logo-container{
      float: left;
      position: relative;
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
    }

    // Navbar menu items container
    .navbar-items-container{
      height: 100%;
      float: right;

      // Navbar menu item
      .navbar-item{
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        @include simpleLinkStyles(var(--wp--preset--color--white), var(--wp--preset--color--red-dark));
      }
    }
  }
}
