{% extends 'base.twig' %}

{% block content %}
    <div class="c-container">
        <main>
            <h1>{{ vm.postTitle }}</h1>
            <p>{{ vm.postContent | raw }}</p>
        </main>
    </div>

    {% include 'components/common/navbar.twig' %}
{% endblock %}