{% extends 'base.twig' %}

{% block content %}
    {% include 'components/common/navbar.twig' %}

    <div class="c-container">
        <h1>{{ vm.post_title }}</h1>
        <p>{{ vm.post_content | raw }}</p>
    </div>
{% endblock %}