{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="c-container">
            <h1>{{ vm.postTitle }}</h1>
            <div class="single-post__content">{{ vm.postContent | raw }}</div>
        </div>
    </main>
    {% include 'components/common/navbar.twig' %}
{% endblock %}