{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="c-container">
            <h1>Stranica nije pronađena</h1>
        </div>
    </main>
    {% include 'components/common/navbar.twig' %}
{% endblock %}