{# attributes - block attributes #}
{# innerContent - block innerContent if block has any #}

{# Example gutenberg block #}
<div class="gb-example-block {{ attributes.className }}">
    <code>This is new component ExampleBlock</code>
</div>
