{% extends 'base.twig' %}

{% block content %}
    <div class="c-container">
        <main>
            <h1 class="js-home-title">{{ vm.title }}</h1>
            <button class="example-btn js-home-btn">Change title color</button>
        </main>
    </div>

    {% include 'components/common/navbar.twig' %}
{% endblock %}