{% extends 'base.twig' %}

{% block content %}
    <div class="c-container">
        <main>
            <h1 class="js-home-page-title">{{ vm.title }}</h1>
        </main>
    </div>

    {% include 'components/common/navbar.twig' %}
{% endblock %}