// File for all home page specific styles.
// Header and footer styles can be overriden here
//

.front-page {
  main {
    text-align: center;

    h1 {
      &.red {
        color: $color-red;
      }
    }

    button {
      margin-top: 30px;
    }

    #react-root {
      margin-top: 5rem;
    }
  }
}
