//
// File for definition of ALL colors used in this project.
//
// Every color used in styles must be defined here and referenced from here.
// Colors should be grouped by sections if that is the case (Font colors, FrontPage colors..)
//

// Common colors - example
$color-black: #000000;
$color-white: #ffffff;
$color-red: #e24932;