<nav class="c-navbar js-modal-padding {{ vm.is_admin_logged_in ? 'admin-logged-in' : '' }}">
	<div class="c-container">
		<div class="navbar-logo-container">
			<span>LOGO HERE</span>
		</div>
	</div>
</nav>
