{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="c-container">
			<header>
				<h1>{{ vm.title }}</h1>
			</header>
            <div class="single-page__content">{{ vm.content | raw }}</div>
        </div>
    </main>
{% endblock %}
