{% extends 'base.twig' %}

{% block content %}
    <div class="c-container">
        <main>
            <h1>Stranica nije pronađena</h1>
        </main>
    </div>

    {% include 'components/common/navbar.twig' %}
{% endblock %}