{% extends 'base.twig' %}

{% block content %}
	<main>
		<div class="c-container">
			<h1>Home page</h1>

			<p>
				This is by default blog posts index page.
				If you want to have static front-page, please use
			<pre>front-page.php</pre>
			template and set static front page in
			<pre>Settings -> Reading</pre>
			</p>
		</div>
	</main>
{% endblock %}
