// File for defining common button styles

.c-button {
  background-color: $color-black;
  color: $color-white;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: background-color 150ms ease-out, transform 150ms ease-out;

  &:hover, &:focus {
    background-color: lighten($color-black, 20%);
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: lighten($color-black, 80%);
  }
}