// This file contains all common variables used in whole project
// Variables are usually defined as CSS variables in theme.json, here we're only manipulate with them
@import 'mixins';

// We define these here as well as in theme.json just so we can use them in media queries and other SCSS mixins
$breakpoint-tablet: 834px;
$breakpoint-mobile: 500px;

@include respondBetween(0, $breakpoint-tablet) {
  :root {
    --wp--preset--font-size--h-1: 40px;
    --wp--preset--font-size--h-2: 36px;
    --wp--preset--font-size--h-3: 28px;
    --wp--preset--font-size--h-4: 20px;
    --wp--preset--font-size--h-5: 18px;
    --wp--preset--font-size--h-6: 16px;
    --wp--preset--font-size--b-1: 16px;
    --wp--preset--font-size--b-2: 14px;
    --wp--preset--font-size--b-3: 12px;
    --wp--preset--font-size--n-1: 12px;
    --wp--preset--font-size--l-1: 12px;
    --wp--preset--font-size--sh-1: 16px;
    --wp--preset--spacing--5-x-small: 4px;
    --wp--preset--spacing--4-x-small: 4px;
    --wp--preset--spacing--3-x-small: 8px;
    --wp--preset--spacing--2-x-small: 12px;
    --wp--preset--spacing--x-small: 12px;
    --wp--preset--spacing--small: 16px;
    --wp--preset--spacing--medium: 24px;
    --wp--preset--spacing--large: 40px;
    --wp--preset--spacing--x-large: 56px;
    --wp--preset--spacing--2-x-large: 64px;
    --wp--preset--spacing--3-x-large: 104px;
    --wp--preset--spacing--4-x-large: 160px;
    --wp--custom--line-height--small: 14px;
    --wp--custom--line-height--medium: 16px;
    --wp--custom--line-height--large: 20px;
    --wp--custom--line-height--x-large: 28px;
    --wp--custom--line-height--2-x-large: 38px;
    --wp--custom--line-height--3-x-large: 48px;
    --wp--custom--line-height--4-x-large: 56px;
    --wp--custom--letter-spacing--small: -0.1px;
    --wp--custom--letter-spacing--medium: 0px;
    --wp--custom--letter-spacing--large: 0.1px;
    --wp--custom--letter-spacing--x-large: 0.3px;
    --wp--custom--letter-spacing--2-x-large: 0.6px;
    --wp--custom--letter-spacing--3-x-large: 0.8px;
    --wp--custom--letter-spacing--4-x-large: 1.2px;
    --wp--custom--border--radius--small: 4px;
    --wp--custom--border--radius--medium: 8px;
    --wp--custom--border--radius--large: 16px;
    --wp--custom--button--text--large: 18px;
    --wp--custom--button--text--medium: 16px;
    --wp--custom--button--text--small: 14px;
    --wp--custom--layout--container-padding: 32px;
  }
}

@include respondBetween(0, $breakpoint-mobile) {
  :root {
    --wp--preset--font-size--h-1: 36px;
    --wp--preset--font-size--h-2: 32px;
    --wp--preset--font-size--h-3: 24px;
    --wp--preset--font-size--h-4: 20px;
    --wp--preset--font-size--h-5: 18px;
    --wp--preset--font-size--h-6: 16px;
    --wp--preset--font-size--b-1: 16px;
    --wp--preset--font-size--b-2: 14px;
    --wp--preset--font-size--b-3: 12px;
    --wp--preset--font-size--n-1: 12px;
    --wp--preset--font-size--l-1: 12px;
    --wp--preset--font-size--sh-1: 14px;
    --wp--preset--spacing--5-x-small: 4px;
    --wp--preset--spacing--4-x-small: 4px;
    --wp--preset--spacing--3-x-small: 8px;
    --wp--preset--spacing--2-x-small: 12px;
    --wp--preset--spacing--x-small: 12px;
    --wp--preset--spacing--small: 16px;
    --wp--preset--spacing--medium: 24px;
    --wp--preset--spacing--large: 32px;
    --wp--preset--spacing--x-large: 40px;
    --wp--preset--spacing--2-x-large: 56px;
    --wp--preset--spacing--3-x-large: 80px;
    --wp--preset--spacing--4-x-large: 96px;
    --wp--custom--line-height--small: 12px;
    --wp--custom--line-height--medium: 14px;
    --wp--custom--line-height--large: 16px;
    --wp--custom--line-height--x-large: 18px;
    --wp--custom--line-height--2-x-large: 20px;
    --wp--custom--line-height--3-x-large: 32px;
    --wp--custom--line-height--4-x-large: 40px;
    --wp--custom--letter-spacing--small: -0.1px;
    --wp--custom--letter-spacing--medium: 0px;
    --wp--custom--letter-spacing--large: 0.1px;
    --wp--custom--letter-spacing--x-large: 0.2px;
    --wp--custom--letter-spacing--2-x-large: 0.4px;
    --wp--custom--letter-spacing--3-x-large: 0.6px;
    --wp--custom--letter-spacing--4-x-large: 1px;
    --wp--custom--border--radius--small: 4px;
    --wp--custom--border--radius--medium: 8px;
    --wp--custom--border--radius--large: 12px;
    --wp--custom--button--text--large: 18px;
    --wp--custom--button--text--medium: 16px;
    --wp--custom--button--text--small: 14px;
    --wp--custom--layout--container-padding: 16px;
  }
}
