//
// This file contains all common variables used in whole project.
//

// Page container
$max-width-page-container: 1440px;
$padding-page-container: 20px;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

// Navbars
$height-navbar: 60px;
$height-wp-admin-bar: 32px;