{% extends 'base.twig' %}

{% block content %}
    {% include 'components/common/navbar.twig' %}

    <div class="c-container" style="margin-top: 60px;">
        <h1>Front page</h1>
    </div>
{% endblock %}