{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="c-container">
            <h1>Archive page</h1>

            Current page: {{ vm.currentPage }}
            Pages total: {{ vm.pagesTotal }}
            Posts per page: {{ vm.postsPerPage }}

            {% for post in vm.posts %}
                {% include 'pages/archive-page/components/archive-page-item.twig' with {post: post} %}
            {% endfor %}
        </div>
    </main>
    {% include 'components/common/navbar.twig' %}
{% endblock %}